* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    font-family: sans-serif;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameContainer > div {
    /* border: 2px solid red; */
}

.game-body {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.gameboard {
    height: 100%;
    border: 5px solid black;
    background-color: white;
    width: 400px;
}

.button-row {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reset-game-button, .start-game-button {
    padding: 1rem;
    border-radius: 5%;
    cursor: pointer;
}

.reset-game-button:hover, .start-game-button:hover {
    filter: brightness(90%);
}

.gamespace {
    border: 1px solid black;
    height: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}